a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: yellow;
  text-shadow: 1px 1px black;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Header Component ------------------------------------------- */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

nav > a {
  font-size: 2rem;
  font-weight: bold;
}

/* Set List Component ------------------------------------------- */
.set-list{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.set-list > a {
  width: 150px;
  margin: 0;
}

/* Card Index Page ------------------------------------------- */
.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 10px;
  width: 200px;
  margin: 0;
}
.card:hover{
  transform: scale(1.05);
}

.card > h1 {
  font-size: 1rem;
  margin: 0;
}

.card > h2 {
  font-size: 1rem;
  margin: 0;
}

.card > img {
  width: 200px;
  object-fit: contain;
}

/* Card Show Page ------------------------------------------- */
.show-window {
  background-color: rgba(128,128,128,.75);
  max-height: 700px;
}

.card-window {
  display: flex;
  justify-content: center;
  width: 50%;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: grey;
  border: 1px outset grey;
  border-radius: 50%;
  position: absolute;
  margin: 10px;
  left: 0;
  height: 25px;
  width: 25px;
}

.close-button:hover {
  color: black;
  background-color: lightblue;
}

.show-pic {
  height: 90%;
  width: 75%;
  align-self: center;
  object-fit: contain;
}

.show-pic:hover {
  transform: scale(1.05);
}

.card-details {
  background-color: white;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px; 
  border: 5px inset grey;
  width: 50%;
}

.card-details > div {
  justify-content: center;
}

.card-details > div > h3 {
  margin: 0;
}

.card-details > div > img {
  height: 25px;
  object-fit: contain;
}

/* Tcgplayer Component ------------------------------------------- */
.tcgplayer-component{
  background-color: pink;
  padding: 10px;
}

.tcgplayer-component > a {
  font-weight: bold;
}

.tcg-price {
  padding: 10px;
}

.tcg-price > p {
  font-weight: bold;
  text-transform: capitalize;
}

.tcgplayer-table {
  justify-content: center;
}

.tcgplayer-table > div {
  width: 100px;
}

/* Cardmarket Component ------------------------------------------- */
.cardmarket-component{
  background-color: lightblue;
  padding: 10px;
}

.cardmarket-component > a {
  font-weight: bold;
}

.cardmarket-table {
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.cardmarket-table > div > p {
  width: 150px;
}

/* Search Component ------------------------------------------- */
.search-form > input {
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  padding: 0;
  margin: 10px;
  height: 50px;
  width: 400px;
}

/* Not Found Page ------------------------------------------- */
.notFound-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageNFP {
  align-self: center;
  height: 250px;
  width: 250px;
  border: 10px solid white;
  background-color: white;
  border-radius: 10px;
}

.imageNFP > img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

/* Footer Component ------------------------------------------- */
footer {
  width: 100%;
  text-align: center;
  font-size: .80rem;
  background-color: rgb(126, 173, 113);
  bottom: 0;
  position: fixed;
  margin-top: 20px;
}